doctype
html
    head
        title
    body
        form(method='post', action='/login')
            label(for='username') Username
            input(name='username')
            label(for='password') Password
            input(name='password', type='password')
            input(type='submit', value='Enter')
