doctype
html
    head
        title Contact Page
    body
        h3 Contact us using:
        p
        p To contact us use one of the following
            ul
                li= email
                li From inside the US dial #{telephone}

