//- view/layout.jade
doctype html
html
  head
    link(href="/components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    block head
  body
    #root.container
      header
        h1.jumbotron  The products gallery
        nav
          ul
            each tab in ['home', 'products', 'products/add']
              li
                a(href='/' + tab)
                  = tab
      block content
    
    
  
