//- view/layout.jade
doctype html
html
  head
    link(href="/components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    block head
  body
    #root.container
      header
        nav.navbar.navbar-default.row
          .container-fluid
            ul.nav.navbar-nav
              each tab in [{link:'home', title:'Home'}, {link:'products', title:'Products'}, {link:'products/add', title: 'Add'}]
                li
                  a(href='/' + tab.link)
                    =tab.title
        h1.jumbotron The products gallery
      block content
    
    
  
