extends ../_shared/_master
block body
    != messages()

    form(action="/items" method="POST")
        input.form-control(name="text" required type="text" placeholder="Enter text")
        button.btn.btn-success
            | Save