<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        block app-title
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
body
    a.btn.btn-success(href="#") Click
    nav

    block content
    