<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/main.css")
    
    block styles

    block jsheader
body
    h1 Site title
    nav
        
    #container
        block container

    ul
        .pesho

    footer
        h2 Site info
    block jsbody
    