mixin nav()
    ul
        li
            a(href="/")
                | Home
        li
            a#nav-btn-item-all(href="/items")
                | All items
        li
            a#nav-btn-item-add(href="/items/form")
                | Add item
        