body
    color #bf9f66
    font-family times
    font-size larger
    font-style italic
    width: 50%


#box
    border-color #000000
    border-style dotted
    background-color #BBBBBB
    color #000000
    padding 10px
