extends ../shared/layout

block main-content
    form(method="post")
        label(for="email") E-mail
        input(id="email" class="form-control" type="email" name="email" placeholder="E-mail")
        br
        label(for="username") Username
        input(id="username" class="form-control" type="text" name="username" placeholder="Username")
        br
        label(for="password") Password
        input(id="password" class="form-control" type="password" name="password" placeholder="Password")
        br
        label(for="confirm-password") Confirm Password
        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password")
        br
        label(for="first-name") First Name
        input(id="first-name" class="form-control" type="text" name="firstName" placeholder="First Name")
        br
        label(for="last-name") Last Name
        input(id="last-name" class="form-control" type="text" name="lastName" placeholder="Last Name")
        br
        label(for="phone-number") Phone Number
        input(id="phone-number" class="form-control" type="text" name="phoneNumber" placeholder="Phone Number")
        br
        label(for="avatar") Avatar
        input(id="avatar" class="form-control" type="text" name="avatar" placeholder="Avatar")
        br
        input(type="submit" class="btn btn-lg" value="Register")