extends ../_shared/_master
block body
    if context.length        
        ul
            each todo in context
                li
                    a(href="/todos/" + todo._id)
                        =todo.text
                    input(type="checkbox" checked=todo.isDone)
                    ="(" + todo.category.name + ")"
    else
        p
            | No TODOs yet...