doctype
html(lang="en")
    head
        title With headers and sections
    body
        h1 Jade View Engine
        p
            | The Jade View Engine is aimed at minimizing the amount of characters
            | we need to type in order to get HTML outputted to the screen
        h2 Element support
        div#elements Apart from paragraph it also supports containers
        #other_elements
            | In fact we don't even need to use the div prefix for it
        .items Divs can have classes too

            | Even things like lists, et al.
            ul
                li First element
                li Second element
                li Third element
        p
        p
            a(href='http://google.com') Links can also be used
        p And even used in context as in
            a(href='http://google.com') this example (you need to deactivate trimming of trailing spaces in editor)




