doctype
html
    head
        title My Application
        link(href='/styles/layouts.css', rel='stylesheet')
    body
        ul#menu-bar
            li#current Home
            li Customers
            li Invoices
            li Reports
                ul
                    li Monthly Sales
                    li Best Customers
                    li Security
                li Logout
        block content
