doctype
html
    head
        title Referencing Scripts
        script(src='/scripts/utils.js', type='text/javascript')
    body
        script
            dialog('Displaying messages in JavaScript');
