doctype
html
    head
        title A page with styles
        link(href='/styles/main.css', rel='stylesheet', type='text/css')
    body
        p We can use normal CSS with Express.js
        #box
            | Design skills is not something that can be acquired. I am living proof of this.
            #author
                | Hadi Hariri - 2012

