doctype
html
    head
        title Stylus
        link(href='/styles/stylus.css', rel='stylesheet', type='text/css')
    body
        p Stylus is to CSS what Jade is to HTML

        #box
            | This box has a defined style


