<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        | Superheroes App:
        block site-title
    link(rel="stylesheet" href="/static/css/main.css")
body
    #content
       block content