extends _layout

block site-title
    | List

block content
    h1 Our Superheroes
    ul
        each superhero in result
            li
                a(href="/superheroes/" + superhero.id)= superhero.name

    