#wrapper
  header
    h1#logo
      a(href='...')        
        img(src='…')
    nav#main-nav: ul
        each item in ['Home', 'About']
            li.nav-item
                a(href='…') 
                    = item