doctype html
html(lang="en")
	head
		title
			| Welcome to our site!
	body
		h1
			a(href="#")
				| Welcome to our site!
		#wrapper
			ul
				each val in [1, 2, 3, 4, 5]
					if (val % 2)
						li= 'Odd item ' + val
					else
						li= 'Even item ' + val

